/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/


header {
    min-height: 220px;
}

.nav {
    justify-content: center;
}

.nav__menu {
    width: initial;
    display: flex;
    flex-direction: row;
}

.nav__logo-wrapper {
    display: none;
}

.nav__item {
    padding: 3px 20px;
}

.nav__item a{
    color: white;
}
/* 
.nav__item:nth-child(2) a {
    padding: 10px 15px;
} */

.profile-own {
    bottom: -125px;
}

.profile-own__title {
    font-size: 1.8rem;
  }
  
.profile-own__description {
      text-align: center;
      font-size: 1.2rem;
}

.profile-own__image-wrapper {
    max-width: 150px;
}

.profile__link-edit {
    right: 15px;
    font-size: 2.8rem;
}

.public-posts {
    margin-top: 140px;
}

.public-posts__title { 
    font-size: 2.4rem;
}

.public-cards__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(288px, 1fr));
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.public-cards__container .card {
    height: 100%;
    width: 100%;
}
