/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/* Estilos desktop para el buscador */

.searcher__content {
    width: 95%;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.searcher__image {
    display: block;
    width: 287px;
    height: 262px;
    background-image: url(../../../images/reading-muro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Estilos desktop para los artículos */

.articles {
    margin: 0 auto;
    width: 90%;
}

.articles__data {
    margin-bottom: 30px;
    gap: 15px;
}

.articles__title {
    font-size: 4.8rem;
    font-weight: 500;
    margin: 0 auto;
}

.articles__icon {
    display: block;
    width: 51px;
    height: 28px;
    background-image: url(../../../icons/arrow-muro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.articles__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(288px, 1fr));
    gap: 30px 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin: 0 30px; */
}

/* Texto del CTA */

.CTA__title {
    font-size: 2.6rem;
    line-height: 5.4rem;
}

.CTA__description {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
