/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/*
* Orden de los estilos
*   1. Posicionamiento
*   2. Modelo de caja
*   3. Tipografía
*   4. Visuales
*   5. Otros
* Metodología => BEM
*/

body {
    background-color: var(--color-background);
}

/* Estilos del header */

.header {
    width: 90%;
    margin: 0 auto;
    min-width: 310px;
    background-color: var(--color-background);
}

/* Estilos para la sección de artículos */

.articles__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articles__title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.8rem;
}

.articles__cards {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articles__icon {
    display: none;
}

/* Estilos para mantener la altura en todos lso articulos */
.articles__cards > .card {
    height: 100%;
}

/* Estilos para la sección del CTA */

.CTA {
    position: relative;
    height: auto;
    min-height: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
}

.CTA__container {
    width: 90%;
    padding: 20px 0;
    text-align: center;
}

.CTA__title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.7rem;
    color: #fff;
}

.CTA__description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #fff;
}

.CTA__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input-mail {
    width: 70%;
    max-width: 400px;
    height: 46px;
    margin-bottom: 15px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    outline: 0 none;
    border: none;
}

.form__join {
    width: 45%;
    max-width: 160px;
    height: 37px;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
    background-color: var(--color-primary-red);
    color: #fff;
    border: none;
    cursor: pointer;
}
