/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

.articles__cards > .card {
    width: 330px;
}


/* Estilos para el CTA desktop */

.CTA {
    min-height: 500px;
    height: auto;
}

.CTA__container {
    display: flex;
    margin: 0 auto;
    text-align: initial;
}

.CTA__text {
    max-width: 70%;
    margin: 0;
    margin-right: 20px;
}

.CTA__title {
    font-size: 3rem;
    line-height: 5.4rem;
}

.CTA__description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.1rem;
}

.CTA__mail {
    width: 80%;
    max-width: 500px;
}

.CTA__form {
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #fff;
}

.form__input-mail {
    padding: 5px;
    margin: 0;
    margin-right: 10px;
    text-align: initial;
    font-size: 1.4rem;
}

.form__join {
    width: auto;
    flex: 1;
    max-width: initial;
    font-size: 1.6rem;
}

.CTA__image {
    display: block;
    width: 326px;
    height: 208px;
    background-image: url(../../../images/CTA-muro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
