/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/*
* Orden de los estilos
*   1. Posicionamiento
*   2. Modelo de caja
*   3. Tipografía
*   4. Visuales
*   5. Otros
* Metodología => BEM
*/

body {
    background-color: var(--color-background);
}

/* Estilos del header */

.header {
    width: 90%;
    margin: 0 auto;
    min-width: 310px;
    /* padding: 0 20px; */
    padding-bottom: 30px;
    background-color: var(--color-background);
}

/* Estilos del hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__img-wrapper {
    width: 100%;
}

.hero__img {
    width: 100%;
    height: 100%;
}

.hero__CTA {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 4.32rem;
}

.hero__secundary-CTA {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}

.hero__button {
    display: block;
    border-radius: 40px;
    width: 200px;
    height: 45px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    line-height: 45px;
    margin: 0 auto;
    font-weight: 500;
    background-color: var(--color-primary-red);
    color: #FFF;
}

/* Estilos de la sección de los posts más populares */

.popular-posts {
    width: 100%;
    min-width: 320px;
    padding: 23px 0;
    text-align: center;
    background-color: var(--color-secundary-background);
}

.popular-posts__title,
.recent-posts__title {
    margin-bottom: 11px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #000;
}

.popular-cards__container {
    width: 100%;
    display: flex;
    gap: 0 20px;
    padding: 15px 20px;
    overflow-x: scroll;
    margin-left: auto;
    scroll-snap-type: x mandatory;
}

/* Estilos de la barra de scroll */
.cards__container::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.cards__container::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-purple);
}
 
/* Estilos de la sección de los posts más recientes */

.recent__posts {
    width: 100%;
    min-width: 320px;
    text-align: center;
    padding: 33px 0;
}

.recent-posts__title {
    margin-bottom: 15px;
}

.recent-cards__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 30px 0;
}

/* Estilos para el CTA del final de la página */

.CTA {
    position: relative;
    min-width: 320px;
    width: 100%;
    min-height: 362px;
    height: auto;
    padding: 0 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

.CTA__plane {
    position: absolute;
    right: 27px;
    top: 8%;
    width: 55px;
    height: 63px;
    background-image: url(../../../images/paper-plane.svg);
    background-position: center;
}

.CTA__container {
    text-align: center;
    color: #FFF;
}

.CTA__title {
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.CTA__title .CTA__mark {
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-color: var(--color-secondary-purple);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

.CTA__button {
    display: inline-block;
    min-width: 215px;
    width: 70%;
    padding: 13px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    border-radius: 40px;
    background-color: var(--color-primary-red);
    color:#fff;
    cursor: pointer;
}
