/* Orden de los estilos
1. Posicionamineto
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
Metodologia => BEM
*/

/* Estilos base */
:root {
    --color-background: hsl(197, 24%, 94%);
    --color-primary-red: hsl(355, 83%, 71%);
    --color-secondary-green: hsl(169, 36%, 57%);
    --color-secondary-purple: hsl(237, 58%, 69%);
    --color-black: hsl(229, 18%, 19%);
    --color-secundary-background: hsl(0, 0%, 91%);
}


html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* Estilos al header */
.header {
    padding: 0 20px;
    padding-bottom: 30px;
    background-color: var(--color-background);
}

/* Estilos al menu */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: var(--color-background);
}

.nav__logo-wrapper {
    display: flex;
    align-items: center;
}

.nav__logo{
    width: 100%;
}

.nav__burger-icon {
    background-image: url("../../../icons/burger-icon.svg");
    width: 14px;
    height: 14px;
    cursor: pointer;
}

/* Estilos para menú */
.nav__menu {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -85%;
    top: 0;
    bottom: 0;
    list-style: none;
    background-color: #FFF;
    transition: all ease-in-out 600ms;
}

.nav__menu-isactive {
    left: 0;
    transition: all ease-in-out 600ms;
    z-index: 1;
}

.nav__item-logo {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nav__item--logo a {
    display: block;
}

.nav__item {
    /* background-color: hsla(237, 58%, 69%, 0.4); */
    display: flex;
    align-items: center;
    height: auto;
    padding: 3px 20px;
    margin-bottom: 15px;
    gap: 0 10px;
    position: relative;
}

.nav__item-isactive {
    background-color: hsla(237, 58%, 69%, 0.4);
}

.nav__item-isactive::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-secondary-purple);
}

.nav__item-tab {
    display: block;
}

.nav__item:active {
    background-color: hsla(237, 58%, 69%, 0.4);
}

.nav__item a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.nav__item span {
    display: block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.nav__item:nth-child(2) span {
    background-image: url('../../../icons/articles-icon.svg');
}

.nav__item:nth-child(3) span {
    background-image: url('../../../icons/login-icon.svg');
}

.nav__item:nth-child(4) span {
    background-image: url('../../../icons/write-icon.svg');
}

/* Estilos para la visualizacion del menu */
.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 400ms linear;
}

.overlay__is-active {
    opacity: 1;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

/* Estilos para el hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__img-wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.hero__img {
    width: 100%;
}

.hero__CTA {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 4.32rem;
}

.hero__secundary-CTA {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}

.hero__button {
    min-width: 200px;
    border-radius: 40px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--color-primary-red);
    color: #FFF;
}

/* Estilos a la seccion de posts populares */

.popular-posts {
    width: 100%;
    min-width: 320px;
    padding: 23px 0;
    text-align: center;
    background-color: var(--color-secundary-background);
}

.popular-posts__title {
    margin-bottom: 11px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #000;
}

.cards__container {
    width: 100%;
    display: flex;
    gap: 0 20px;
    padding: 15px 20px;
    overflow-x: scroll;
    margin-left:auto;
    scroll-snap-type: x mandatory;
}

/* Estilos a la barra del scroll */
.cards__container::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
 
.cards__container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-purple);
}
 



