/* .search__container {
    text-align: center;
} */

.search__content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    border: 2px solid var(--color-black);
    border-radius: 30px;
}

.search__input {
    width: 92%;
    padding: 0 20px;
    height: 45px;
    font-size: 1.2rem;
    border: 0;
    background-color: transparent;
    color: #000;
    outline: 0 none;
}

.glass__icon {
    position: absolute;
    right: 8%;
    top: 28%;
    width: 18px;
    height: 18px;
    background-image: url(../../../icons/glass-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}