/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/*
* Orden de los estilos
*   1. Posicionamiento
*   2. Modelo de caja
*   3. Tipografía
*   4. Visuales
*   5. Otros
* Metodología => BEM
*/

body {
    background-color: var(--color-background);
}

/* Estilos del header */
.nav__burger-icon {
    color: white;
}

header {
    min-width: 320px;
    width: 100%;
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1603993097397-89c963e325c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vh rgba(0,0,0,0.2);
}

header::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

/* Sobrescribe los estilos del componente nav */

.nav {
    background-color: initial;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.overlay {
    z-index: 2;
}

/* Listón del navbar */

.nav__polygon {
    display: initial;
    width: 80px;
    height: 85px;
    position: absolute;
    top: 0;
    z-index: -1;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%, 50% 75%);
    background: rgba(255,255,255,0.8);
}

.nav__logo-wrapper {
    width: 80px;
}

.nav__logo-wrapper > a {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.nav__logo {
    width: 100%;
}

/* Estilos del texto del post */

.post__head {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.post__title {
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.post__details {
    display: flex;
    align-items: center;
}

.post__profile {
    display: inline-block;
    min-width: 40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.post__img-author {
    width: 100%;
}

.post__info {
    margin-left: 8px;
}

.post__author-name a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
}

.post__date {
    font-size: 1rem;
    font-weight: 300;
}

/* Post text */

.post__body {
    width: 100%;
    padding-top: 10px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.post__aside {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

/* Heart toggle animation */
.heart {
    position: absolute;
    z-index: 1;
    top: -90px;
    right: 0;
}

.post__aside [for='toggle__heart'] {
    font-size: 4rem;
    color: #aab8c2;
    cursor: pointer;
}

.post__aside [id='toggle__heart'] {
   visibility: hidden;
}

.post__aside [id='toggle__heart']:checked + label {
    color: #e2264d;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }
  
@keyframes heart { 
    0%, 
    15% {
      font-size: 0; 
    } 
}


/* Estilos para el copy */
.post__copy {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
}

/* Estilos para el like */

.icon {
    width: 30px;
    height: 30px;
    opacity: 1;
    /* position: fixed;
    top: 50%;
    left: 50%; */
    /* transform: translateX(-100%); */
  }

#icon-heart > path {
    fill: var(--color-primary-red);
}

.icon.beat {
    animation: 2s beat-heart ease-in-out forwards;
}

@keyframes beat-heart {
    0% {
        opacity: 0.9;
        transform: scale(0.7);
    }
    20% {
        transform: scale(1.8);
    }
    40% {
        transform: scale(1.2);
    }
    80% {
        opacity: 0;
        transform: scale(0.7);
    }
}

/* Estilos generales de las etiquetas */

.post__copy > p:not(p:first-child) {
    margin-top: 2.8rem;
}

.post__copy > p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: normal;
    letter-spacing: -0.03px;
    word-wrap: break-word;
}

.post__copy > h3 {
    margin-top: 2.2rem;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 600;
    word-wrap: break-word;
}

.post__body .post__copy > h3 + p {
    margin-top: 1rem;
}

/* Estilos de la sección de otros post para mostrar */

.popular-posts {
    width: 100%;
    min-width: 320px;
    padding: 23px 0;
    text-align: center;
    background-color: var(--color-secundary-background);
}

.popular-posts__title,
.recent-posts__title {
    margin-bottom: 11px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #000;
}

.popular-cards__container {
    width: 100%;
    display: flex;
    gap: 0 20px;
    padding: 15px 20px;
    overflow-x: scroll;
    margin-left: auto;
    scroll-snap-type: x mandatory;
}

/* Estilos de la barra de scroll */

.pupular-cards__container::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.popular-cards__container::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-purple);
}

/* Estilos para la seccion del autor */
.author-info {
    min-width: 320px;
}

.author-info__container {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.author-info__image {
    display: inline-block;
    width: 100px;
    border-radius: 100%;
}

.author__image {
    width: 100%;
    border-radius: inherit;
}

.author-info__text {
    margin-top: 7px;
}

.author-info__title {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 600;
}

.author-info__title a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.author-info__description {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

/* Estilos de la caja de comentarios */

.comments {
    width: 100%;
    padding: 40px 0;
    min-width: 320px;
}

.comments__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.comments__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #000;
}

.comments__box {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment__user-image-container {
    display: inline-block;
    overflow: hidden;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.comments__form {
    width: 100%;
    max-width: 370px;
    text-align: right;
}

.comments__textarea {
    resize: none;
    min-width: 180px;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1.2rem;
    border: 0;
    outline-color: var(--color-secondary-purple);
}

.comments__button {
    min-width: 80px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-size: 1.2rem;
    background-color: var(--color-secondary-purple);
    color: #FFF;
    cursor: pointer;
}

.comments__button:active {
    transform: scale(1.1);
}

/* Estilos del footer */

.footer {
    background-color: var(--color-black);
}

.footer .rights {
    color: var(--color-background);
}

.footer .media svg path {
    fill: var(--color-background);
}
