/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/* Fix the width to se in a tablet and desktop */

.nav,
.post__head,
.post__copy,
.author-info__container,
.comments__container {
    width: 80%;
}

/* Estilos del header */

header {
    box-shadow: inset 0 0 0 100vh rgba(0,0,0,0.4);
}

header:hover {
    box-shadow: inset 0 0 0 100vh rgba(0,0,0,0.2);
}

/* Estilos para el navbar */
.nav__logo-wrapper {
    width: 100px;
}

.nav__logo-wrapper > a {
    width: 85%;
}

.nav__polygon {
    width: 100px;
    height: 95px;
}

.nav__item > a {
    color: #FFF;
}

/* Estilos de la sección de otros posts */

.popular-posts {
    width: 100%;
    background-color: initial;
}

.popular-cards__container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 15px 0;
    overflow: initial;
    scroll-snap-type: initial;
}

/* Estilos de la sección del autor */

.author-info__title {
    font-size: 2.4rem;
}

.author-info__description {
    font-size: 1.4rem;
}

/* Sección de comentarios */

.comments__form {
    max-width: 660px;
}

.comment__user-image-container {
    align-self: flex-start;
}

/* Text area */

.comments__textarea {
    font-size: 1.4rem;
}

/* Botón para enviar un comentario */

.comments__button {
    font-size: 1.4rem;
}
