/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/*
* Orden de los estilos
*   1. Posicionamiento
*   2. Modelo de caja
*   3. Tipografía
*   4. Visuales
*   5. Otros
* Metodología => BEM
*/

/* Estilos para el componente de paginación */

.pages {
  display: flex;
  gap: 16px;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pages__move {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 200;
    color: var(--color-background);
    background-color: var(--color-secondary-purple);
}

.pages__actual {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-black);
    border: 2px solid var(--color-secondary-purple);
    background-color: var(--color-background);
}
