body {
    background-color: hsla(197, 100%, 50%, 0.4);
    background-image: url('../../../images/background-form.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
}

/* Contenedor */

.wrapper {
    width: 90%;
    max-width: 780px;
    min-width: 300px;
    margin: 30px auto;
}   

/* Section del header */

.header__logo-container {
    display: inline-block;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.sign-up {
    /* max-width: 360px; */
    padding-top: 15px;
}

.sign-up__title {
    position: relative;
}

.sign-up__text {
    max-width: 300px;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.3rem;
    margin: 0;
}

.sign-up__plane {
    width: 58px;
    height: 105px;
    left: 230px;
    top: -5px;
    position: absolute;
    background-image: url('../../../images/flying-plane.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Section del form */

/* .form__container {
    padding-top: 10px;
} */

.form__sign-up label {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    height: 25px;
}

.sign-up__input {
    width: 100%;
    height: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--color-black);
    outline: 0;
    border: 0;
    border-bottom: 2px solid var(--color-primary-red);
    background-color: transparent;
}

.sign-up__input::placeholder {
    color: rgba(40, 43, 57,0.6);
}

.sign-up__button {
    display: block;
    margin: 0 auto;
    width: 236px;
    height: 60px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.7rem;
    border: 0;
    border-radius: 40px;
    color: #FFF;
    background-color: var(--color-primary-red);
    cursor: pointer;
}

.form__already {
    margin-top: 10px;
    text-align: center;
}

/* Cambios a los estilos del footer */

.footer {
    background-color: var(--color-black);
}

.footer .rights {
    color: var(--color-background);
}

.footer .media svg path {
    fill: var(--color-background);
}