/*
* Este archivo es parte de Nabu.
*
* Nabu es software libre: puedes redistribuirlo y/o modificarlo
* bajo los términos de la Licencia Pública General de GNU Affero publicada por
* la Free Software Foundation, ya sea la versión 3 de la Licencia, o
* (a su elección) cualquier versión posterior.
*
* Nabu se distribuye con la esperanza de que sea de utilidad,
* pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
* COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Consulte la
* Licencia Pública General de GNU Affero para obtener más detalles.
*
* Debería haber recibido una copia de la Licencia Pública General de GNU Affero
* junto con este programa. De lo contrario, consulte <https://www.gnu.org/licenses/>.
*/

/*
* Orden de los estilos
*   1. Posicionamiento
*   2. Modelo de caja
*   3. Tipografía
*   4. Visuales
*   5. Otros
* Metodología => BEM
*/

.footer {
    min-width: 320px;
    padding: 13.5px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
}

.rights {
    width: 100%;
    color: var(--color-black);
}

.rights__info {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.media {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

.media__icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
